<html><body><pre>{
    "單據號碼": ":E-M9110070603119",
    "電號(Customer Number)": "00-88-8353-91-9",
    "繳費總金額(Total Amount)": "60371",
    "計費期間": "110/05/14- 110/06/10",
    "用戶資訊(Basic info)": {
        "用電種類": "需量綜合營業用",
        "用電地址": "信義路4段6號9樓",
        "契約容量(瓩)\n經常(尖峰)契約": "85",
        "最高需量(託)\n經常(尖峰)需量": "66",
        "計費度數(度)/Energy Consumption(kWh)\n經常(尖峰)度數": "17800",
        "功率因數(%)": "99"
    },
    "計費內容(Charge info)": {
        "基本電費(約定)": "16864.0元",
        "流動電費": "44436.4 元",
        "功率因數調整費": "-919.5元",
        "電子帳單優惠減收金額": "-10.0元",
        "稅前應繳總金額": "57496.0元",
        "營業稅": "2875.0元",
        "繳費總金額": "60,371 元"
    },
    "其他資訊(Other info)": {
        "輪流停電組別": "H",
        "饋線代號": "SU77",
        "每度燃料成本": "1.2051元",
        "本期碳排量": "9060 公斤",
        "每度繳交再生基金": "0.0018元"
    }
}</pre></body></html>